<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wsitm.schemax.mapper.TableMetaMapper">
    <resultMap id="TableVOResultMap" type="org.wsitm.schemax.entity.vo.TableVO">
        <id property="id" column="id"/>
        <result property="connectId" column="connect_id"/>
        <result property="schema" column="schema_name"/>
        <result property="catalog" column="catalog_name"/>
        <result property="tableName" column="table_name"/>
        <result property="comment" column="comment"/>
        <result property="numRows" column="num_rows"/>
        <result property="columnListJson" column="column_list_json"/>
        <result property="indexListJson" column="index_list_json"/>
    </resultMap>

    <sql id="tableColumns">
        id,
        connect_id,
        schema_name,
        catalog_name,
        table_name,
        comment,
        num_rows,
        column_list_json,
        index_list_json
    </sql>

    <insert id="insert" parameterType="org.wsitm.schemax.entity.vo.TableVO">
        INSERT INTO dim_table_meta(connect_id, schema_name, catalog_name, table_name, comment, num_rows, column_list_json,
        index_list_json)
        VALUES (#{connectId}, #{schema}, #{catalog}, #{tableName}, #{comment}, #{numRows},
                #{columnListJson, jdbcType=VARCHAR}, #{indexListJson, jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="org.wsitm.schemax.entity.vo.TableVO">
        UPDATE dim_table_meta
        SET connect_id       = #{connectId},
            schema_name      = #{schema},
            catalog_name     = #{catalog},
            table_name       = #{tableName},
            comment          = #{comment},
            num_rows         = #{numRows},
            column_list_json = #{columnListJson, jdbcType=VARCHAR},
            index_list_json  = #{indexListJson, jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>

    <delete id="deleteByConnectId" parameterType="Integer">
        DELETE
        FROM dim_table_meta
        WHERE connect_id = #{connectId}
    </delete>


    <select id="findByConnectId" resultMap="TableVOResultMap">
        SELECT
        <include refid="tableColumns"/>
        FROM dim_table_meta
        WHERE connect_id = #{connectId}
    </select>

    <select id="findByConnectIdAndTableName" resultMap="TableVOResultMap">
        SELECT
        <include refid="tableColumns"/>
        FROM dim_table_meta
        WHERE connect_id = #{connectId}
          AND table_name = #{tableName}
    </select>
</mapper>
